*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    transition: 0.2s;
}
:root{
    --textx : rgb(89, 194, 255);
}
body{
    background: black;
}
.cover{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(15, 15, 15);
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cover .menu{
    position: absolute;
    transform: translate(-50%,-50%);
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: -80%;
    left: 50%;
    border: 2px solid rgb(89, 194, 255);
}
.cover .menu ion-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(89, 194, 255);
    height: 25px;
    width: 25px;
}
.open{
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
}
.open:hover .name{
    top: -5%;
}
.open:hover .down{
    top: 82%;
}
.open .name{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(89, 194, 255);
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.open .openotice{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    color: transparent;
    font-weight: 600;
}
.open:hover .openotice{
    color: rgb(89, 194, 255);
    top: 60.5%;
}
.open .down{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(89, 194, 255);
    height: 30px;
    width: 30px;
}
.main{
    height: 600px;
    width: 900px;
    border-radius: 15px;
}
.open .downgo{
    top: 120%;
    color: transparent;
}
.down{
    top: 100%;
}
.mainshow{
    height: 100%;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-0%);
    left: 50%;
    top: -100%;
}
.mainshowafter{
    top: 0%;
}
.mainshow .back{
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 1%;
    left: 50%;
    height: 30px;
    width: 30px;
    color: transparent;
}
.mainshow .backafter{
    color: var(--textx);
}
.mainshow .changer{
    position: absolute;
    transform: translate(-50%,-0%);
    top: 30px;
    left: 50%;
    height: 70px;
    width: 90%;
    border: 1px solid wheat;
}