*{
    margin: 0;
    padding: 0;
    font-family: mainfontbold;
    transition: 0.5s;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: mainfontbold;
    src: url(Nunito/static/Nunito-Bold.ttf);
}
:root{
    --back: rgb(20,20,20);
    --pgt: translate(-50%,0%);
    --cgt: translate(-50%,-50%);
}
body{
    background: var(--back);
}
.page_1{
    position: relative;
    left: 50%;
    height: 650px;
    width: 1000px;
    transform: var(--pgt);
}
.back{
    position: absolute;
    left: 50%;
    height: 650px;
    background-color: black;
    width: 100%;
    transform: var(--pgt);
}
.page_1 .h1{
    position: absolute;
    transform: var(--pgt);
    left: 50%;
    top: 40px;
    font-size: 100px;
    color: white;
}
.page_1 p{
    position: absolute;
    transform: var(--pgt);
    left: 50%;
    color: white;
    bottom: 40px;
    text-align: center;
    font-size: 20px;
    width: 1000px;
}